<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="form" (ngSubmit)="saveForm()">
        <input (change)="onChangeFile($event)" type="file">
        <button type="submit" class="btn btn-outline-dark btn-sm">Subir</button>
      </form>
      {{uploadResponse?.message}}
      <div class="progress mt-2" *ngIf="uploadResponse?.message">
          <div class="progress-bar" role="progressbar" [style.width.%]="uploadResponse?.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{uploadResponse?.message}}%</div>
        </div>
    </div>
    <div class="col-12 mt-5">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">name</th>
                <th scope="col">type</th>
                <th scope="col">size</th>
                <th scope="col">action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let file of allFilesUploaded; index as idx">
                <td>{{idx + 1}}</td>
                <td>{{file.originalname}}</td>
                <td>{{file.mimetype}}</td>
                <td width="100">{{file.size | filesize }}</td>
                <td><button (click)="BajarArchivo(file)" *ngIf="!file?.loading"  class="btn btn-outline-success bt-sm">Download</button>
                  <button class="btn btn-primary btn-sm" type="button" *ngIf="file?.loading" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading {{ file?.message }} %
                  </button></td>

              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
